/* test.css
* Created by: knod
* Date created: 03/11/14
* Page for testing things randomly
* 	Right now trying to test dragable geometry stuff
* 
* Sources:
* 
* ToDo:
* - Make rectangle made of two rectangles
* - Make third rectangle that is in the center of those,
* same width, but only as tall as the difference between
* the other two rectangles
* 
* DONE:
* - [DONE] Make circles
* 
*/

#container {
	text-align: center;
	margin: 0 auto;
}

.one-qubit {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	background: lightblue;
}

.circle {
	position: absolute;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.phase-up-num {
	background: white;
}

.phase-down-num{
    background: black;
}
